.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 16px;
	background-color: #ffd700;
	color: #003049;
}

.logo {
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
}
